.pberian{
    color: #2f8b53;
    font-weight: 700;
}
.social-icon p{
    margin-left: 20px;
}
.en h5{
    display: inline;
    font-size: 20px;
}
.ficon:hover{
    background-color: rgba(10, 134, 236, 0.883);
    cursor: pointer;
}