.src-text{
    color:#309255;
}
.src-area{
    border:2px solid rgba(156, 195, 156, 0.835);
    padding: 40px;
    border-radius: 20px;
} 

.src-bar{
    border-radius: 30px;
    border: 2px solid #629776;
}
.src-btn:hover{
    background-color: #309255;
    color:White;
}
.box{
    width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.box > i {
    font-size: 20px;
    color: #777;
    position: relative;
    left: 440px;
}

.box > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 0px;
}
.subss-btn{
    height: 50px;
    width: 173px;
    background-color: #309255;
    color: white;
    padding: 0px;
    border-radius: 15px;
    font-weight: 500;
}
.subss-btn:hover{
    background-color: black;
}